button {
  padding: 0;
}


/* [Board part css] */
.board-ground {
  margin-top: 18px;
  margin-left: 14%;
}

.board-row {
  display: grid;
  grid-template-columns: repeat(18, 40px);
}

.zone {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  font-size: 18pt;
  background-color: goldenrod;
}


/* [UI part css] */
.ui-board {
  margin-top: 18px;
  margin-left: 14%;
}

.goRoom-button {
  width: 200px;
  height: 80px;
  font-size: 20pt;
  position: absolute;
  margin-top: 320px;
  margin-left: 280px;
}

.reset-button {
  width: 80px;
  height: 40px;
  font-size: 12pt;
  position: absolute;
  margin-top: 340px;
  margin-left: 740px;
}

.turn-text {
  position: absolute;
  margin-left: -12%;
  margin-top: 338px;
  font-size: 20pt;
  font-weight: 700;
}