.board-row {
  display: grid;
  grid-template-columns: repeat(18, 50px);
}

.zone {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  font-size: xx-large;
  background-color: goldenrod;
}

.start-button {
  width: 250px;
  height: 100px;
  font-size: 24pt;
  position: absolute;
  /* 16 * 25 */
  margin-top: 400px;
  /* 14 * 25 */
  margin-left: 350px;
}

.reset-button {
  width: 100px;
  height: 50px;
  font-size: 16pt;
  position: relative;
  margin-left: 425px;
}